:root{
    --White-color:#fff;
    --Gray-color:#f2cef2;
    --Violet-color:#9e91b7;
    --Rose-color:#df99f2;
    --Bleu1-color:#3d2da6;
    --Bleu2-color:#07338c;
    --bleu3-color:#021740;
}

.fade-in {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
  }
  
  .fade-in.fade-in-visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  
  /* Application de l'animation aux éléments */

#perssonage h1,
#perssonage p,
#perssonage h2,
#article h2,
#article p,
#carte-identité img
   {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  
  #contact {
    opacity: 0; 
    animation: fade-in 1s forwards; 
}

@keyframes fade-in {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}



@font-face{
    font-family: 'beyno';
    src: url("../font/beyno.ttf");
}

@font-face{
    font-family: 'cantarell';
    src: url("../font/Cantarell-Regular.ttf");
}

@font-face{
    font-family: 'panthera';
    src: url("../font/Panthera.ttf");
}

@font-face{
    font-family: 'wakanda';
     src: url("../font/WakandaForever-Regular.ttf");
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #121931;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

html{
    position: relative;
    z-index: 1;
    background-color: rgb(28, 28, 29);
    
}

html{
    background-image: url(../illustration/ofpages/background.png);
 
    background-color: rgb(138, 134, 134);
}

body{
    position: relative;
    z-index: 2;

}

body{
    background-image: url(../illustration/Accueil/Pantherhome1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70%;
    background-position-x: 400px;
    background-position-y: 100px;
}


.espace-vertical{
    height: 100px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    margin-left: 102px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin-right: 100px;
}

header ul li a{
    color: white;
}

header ul li{
    font-family: 'beyno';
    display: inline-flex;
    margin-right: 50px;
    text-decoration: none;
}

ul li a:hover{
    color: var(--Bleu1-color);
}

.logo{
    margin-top: 25px;
    margin-left: 25px;
}

.line {
            position: fixed;
            width: 3px;
            height: 40%;
            background-color: var(--Violet-color);
            left: 50px;
            top: 0;
            z-index: 9;
            animation-timing-function: ease;
}

.line1 {
            position: fixed;
            width: 3px;
            height: 50%;
            background-color: var(--Violet-color);
            left: 70px;
            top: 0;
            z-index: 9;
            animation-timing-function: ease;
}

@keyframes descendLine {
    0% {
        top: -300px;
    }
    100% {
        top: 0;
    }
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 40px;
    top: 230px;
    z-index: 10;
    
}

.scroll img{
    margin-top: 15px;
}


.big-box{
    margin-left: 102px;
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.text{
    font-size: 12px;
    justify-content: stretch;
    text-align: start;
    width: 35%;
    
}

.personnes{
    font-size: 12px;
    
}

h1, h2, h3, h4{
    color: var(--Violet-color) ;
    text-align: left;

}

h1{
    font-family: 'panthera';
    font-size: 50px;
    color: var(--Violet-color);
}

h2{
    font-family: 'beyno';
    font-size: 25px;
    color: var(--Violet-color);
    margin-left: 102px;
}

.forever{
    margin-left: 0;
}

p{
    font-family: 'cantarell';
    text-align: justify;
    color: var(--White-color);
    font-size: 15px;
}

#article .description{
    margin-left: 102px;
    width: 70%;
    text-align: justify;
    font-size: 13px;
}

#perssonage{
    margin-left: 102px;
}

#slider-multimedia{
    margin-left: 102px;
    display: flex;
    background-color: #030e31d5;
    justify-content: space-between;
    height: 260px;
    max-width: 100%;
    transition: transform 0.5s ease;
}
#slider-multimedia a{
    color: #fff;
}

#carousel-container {
    position: relative;
    margin-left: 102px;
    display: flex;
    background-color: #030e31d5;
    justify-content: space-between;
    height: 260px;
    max-width: 100%;
    transition: transform 0.5s ease;
    overflow: hidden;

}


.slide-content {
    display: flex;
    
}

.slide-content .slider-image {
    width: 50%;
}

.slide-content .slider-text{
    width: 155px;
    
}



.next-slide{
    margin-top: 100px;
    width:40px; 
    height:40px;
    z-index: 10; 
    right: 70px; 
    position: absolute;
    border-radius: 50%;
      
}
.next-slide:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
  }


.slider-image img{
    height: 260px;
    width: 200px;
    margin-top: 0;
    margin-bottom: -3px;
}


.slider-text{
font-family: 'cantarell';
font-size: 10px;
margin: 15px;
margin-top: 30px;
}

#multimedia .slider-text{
    padding: 0;
}

/*styles pour identité*/


#carte-identité .carte{
    width: 350px;
    height: 700px;
    margin-top: 200px;
    background-color: var(--White-color);
    border-radius: 20px;
    margin-right: 100px;
}

#carte-identité  p{
    color: #000000;
    text-align: justify;
    width: 70%;
    margin-left: 50px;
    
}

#carte-identité .carte  h3{
    font-family: "cantarell";
    font-size: 22px;
    color: #000000;
    text-align: center;
}

#carte-identité .carte button{
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  border-radius: 5px;
  font-family: "cantarell";
  background-color: var(--Bleu1-color);
  color: var(--White-color);
  padding: 10px 15px;
  margin: 10px;
  border: #fff;
}

#carte-identité ul{
    display: inline-flex;
    margin-left: 50px;
    list-style-type: none;
}


#carte-identité .carte .TChalla img{
    position: relative;
    height: 348px;
    width: 250px;
    margin-top: -200px;
    margin-left: 50px;
}

#carte-identité .carte .info nav{
    margin-left: 0;
}

#carte-identité .mask img{
    margin-top: 200px;
    position: relative;
    margin: -80px;
    
}


/*style pour contact*/

#contact {
    background-image: url(../illustration/Accueil/Pantherhome7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#contact .formulaire{
    background: linear-gradient(180deg, #ffffff, #ffffff25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    width: 55%;
    height: 470px;
    margin-left: 25%;

}

#contact .formulaire .form{
    width: 70%;
    align-items: center;
    
}


#contact .form input[type='email'],
#contact .form textarea,
#contact .form input[type='text'] {
    display: block;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #2f2141;
}

#contact .formulaire .form .btn{
    width: 174px;
    height: 54px;
    border-radius: 38px;
    margin-left: 180px;
    border: #ffffff;
}

#contact .formulaire .form .btn:hover{
    box-shadow:  #021740 0px 0px 20px;
}

#contact .formulaire .form h3{
    font-family: 'cantarell';
    font-size: 25px;
    color: #000000;
    text-align: center;
}

#contact 
.form h4{
    font-family: 'cantarell';
    text-align: center;
    color: #000000;
}


#contact .formulaire .form input {
    width: 520px;
}

#contact .formulaire .form textarea{
    width: 520px;
}

::placeholder{
    color: #170275;
    font-size: 15px;
}




/*style de footer*/


.footerDiv p, 
.footerDiv a,
.footerDiv li {
    font-family: cantarell;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    margin: 5px 0;
    color: #fff;
}

footer h3 {
    font-family: Cantarell;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 5px 0 10px;
}

footer {
    background: url(../illustration/ofpages/back_footer.png); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid 1px transparent;
}

.footerDiv {
    margin: 200px 10% 50px;
}

.footerDiv {
    display: grid;
    grid-template-areas: 
        "logo logo pages findUs"
        "logo logo pol pol";
    gap: 15px;
}


.logo {
    grid-area: logo;
}

.pages {
    grid-area: pages;
}

.findUs {
    grid-area: findUs;
}

.pol {
    grid-area: pol;
}

.logo {
display: flex;
justify-content: center;
}

.logo__imgCont {
    width: 25vw;
    height: 25vw;
    min-width: 150px;
    min-height: 150px;
    background: url(../illustration/ofpages/footer1.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.logo__imgCont__img {
    position: relative;
    right: 2vw;
    width: 12vw;
    min-width: 75px;
}

.logo__imgCont:hover {
    transform: scale(110%);
}

.pages a:hover {
    text-decoration: underline;
}

.findUs {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.findUs img {
    max-width: 60px;
    margin: 0 5px;
}

.findUs img:hover {
    transform: scale(110%);
}
figure{
    margin-top: 60px;
}

.pol {
    display: flex;
    align-items: center;
}
    
/*responsive mobile phone*/

@media (max-width: 767px) {
  html {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Gray-color);
  }

  #slider-multimedia{
    display: flex;
    background-color: #030e31d5;
}

  p{
    color: #fff;
  }
  html img{
    size: 40%;
  }

  body {
    background-color: var(--Gray-color);
    width: 100px;
  }

 nav{
    height: 10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


footer{
    width: 200px;
    height: 300px;
}

/* Réorganisation du navigation pour un affichage vertical sur mobile */
nav ul {
  display: flex;
}

/* Ajustement la taille du logo */
.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Réduction la taille des images des réseaux sociaux */
.scroll img {
  width: 30px;
  height: 30px;
}

/* Ajustement de la taille du texte principal */
.content h1 {
  font-size: 24px;
  color: #fff;
}

.content h2 {
  font-size: 20px;
  color: #fff;
}

.content p {
  font-size: 16px;
  color: #fff;
}

/* Réorganiseation des images du slider */
.slider-image img {
  width: 100%;
  height: auto;
}

/* Ajustement de la taille du texte dans le slider */
.slider-content h2 {
  font-size: 20px;
}

.slider-content p {
  font-size: 16px;
}

/* Réorganiser la carte d'identité */
.carte {
  display: flex;
  flex-direction: column;
}

.info h3 {
  font-size: 20px;
  color: #fff;
}

.info ul {
  display: flex;
  flex-direction: column;
}

.info li {
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  color: #fff;
}
  
}